{% extends 'www/base.html' %}
{% load embed_video_tags %}
{% load static %}
{%block title%}
{%endblock%}
{%block content%}

<!-- main content -->
	<!-- error -->
				<div class="col-12">
					<div class="page-404">
						<div class="page-404__wrap">
							<div class="page-404__content">
								<h3 class="page-404__title">Thank you</h3>
								<p class="page-404__text">We will come back to you after confirming your payment,you will receive notification.</p>
								<a href="/Eventevents" class="page-404__btn">go back</a>
							</div>
						</div>
					</div>
				</div>
				<!-- end error -->
	<!-- end main content -->
{% endblock %}